{%load static%}
<footer class="main-footer">
    <div class="main-container">
      <div class="main-footer__upper row">
        <div class="main-footer__row col">
          <h2 class="heading heading-sm text-lt">Adrien Schmitz</h2>
          <p class="main-footer__short-desc">
            A Backend focused on Data Science
          </p>
        </div>
        <div class="main-footer__row main-footer__row-1 col">
          <h2 class="heading heading-sm main-footer__heading-sm">
            <span>Social</span>
          </h2>
          <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/adrienschmitz">
              <img class="main-footer__icon" src="https://d33wubrfki0l68.cloudfront.net/7f29579dde49e02480372aa49f7189c5536b0118/34b92/assets/png/linkedin-ico.png"
                alt="Adrien Schmitz Linkedin Profile" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://github.com/adrienschmitz">
              <img class="main-footer__icon" src="https://d33wubrfki0l68.cloudfront.net/5557d5a11584d7201a38ee1a95200f57a4cc0f88/15085/assets/png/github-ico.png" alt="RammCodes Github Profile" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://twitter.com/adrienschmitz">
              <img class="main-footer__icon" src="https://d33wubrfki0l68.cloudfront.net/ef67339f7016cb09ba66366c1dc9145ac69f2a21/feca1/assets/png/twitter-ico.png" alt="RammCodes Twitter Profile" />
            </a>
          </div>
        </div>
      </div>

      <div class="main-footer__lower">
        &copy; Copyright
        <script>document.write(new Date().getFullYear())</script>. Made by 
        <a rel="noreferrer" target="_blank" href="https://adrienschmitz.com"> Adrien Schmitz</a>
      </div>
    </div>
    
  </footer>